<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Weather App</title>
</head>

<div class="Request">
    <form action="/weather" method="post" class="search">
        <div class="search__wrapper">
        <input type="text" id="city" placeholder="Enter your city..." class="search__field">
        <button type="submit" class="fa fa-search search__icon">🔎</button>
        </div>
    </form>
</div>


<!--
<body>
    <h1>Weather App</h1>
    <div class="Request">
        <form action="/weather" method="post" class="formulario">
            <label for="city">Enter your city:</label>
            <input type="text" id="city" name="city" required>
            <button type="submit">Get Weather</button>
        </form>
    </div>

        <img src="{{ url_for('static', filename='images/Nube2.png') }}" alt="" class="imagen_nube">
        <img src="{{ url_for('static', filename='images/Nube.png') }}" alt="" class="imagen_nube">
    
</body>
</html>
-->