<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
    <title>Weather App</title>
</head>
<body id="weatherBody" data-isday="{{ isday }}" data-description="{{ description }}">
    <div class="card" id="weatherCard">
        {% if city %}
            <div class="head">
                <ul>
                    <img class="emoji" src="{{ descriptionicon }}" alt="">
                    <p class="city">{{ city }}</p>
                    <p class="temp" id="cft" onclick="toggleTemperatureUnit()" data-temperature-c="{{ temperature_c }}" data-temperature-f="{{ temperature_f }}">{{ temperature_c }}ºC</p>
                </ul>
            </div>
            <p id="cfc" onclick="toggleTemperatureUnit()" data-feelslike-c="{{ feelslike_c }}" data-feelslike-f="{{ feelslike_f }}">Feels like: {{ feelslike_c }}ºC</p>
            <p>Description: {{ description }}</p>
            <p>Wind: {{ wind_speed}} KM/H to {{ wind_dir }}</p>
            <p>Rain in mm: {{ precip }}</p>
        {% endif %}
    </div>

    <script>
        const body = document.getElementById('weatherBody');
        const isDay = body.getAttribute('data-isday')

        if (isDay === '1') {
            body.style.background = 'linear-gradient(#e2fdfd, #88c8ff)';
        } else {
            body.style.background = 'linear-gradient(#0b5a92, #043570)';
        }
    </script>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
