<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Weather App</title>
</head>
<body>
    {% if city %}
        <p>City: {{ city }}</p>
        <p>Temperature: {{ temperature }}</p>
        <p>Feels like: {{ feelslike }}</p>
        <p>Description: {{ description }}</p>
        <p>Wind direction: {{ wind_dir }}</p>
        <p>Wind speed: {{ wind_speed}}</p>
        <p>Humidity %: {{ humidity }}</p>
        <p>Rain in mm: {{ precip }}</p>
    {% endif %}
</body>
</html>